# Ignore everything:
*

# Except for .gitignore and readme
!.gitignore
!README.md
#But ingore sub-readme
**/README.md 

#Only track rs-files in src
!rust/
!rust/**/
!rust/**/src/
!rust/**/src/*.rs
rust/**/.gitignore

#Only track .fs that is not tests
!fsharp/
!fsharp/**/
!fsharp/**/*.fs
fsharp/**/*Tests.fs
fsharp/**/obj/

#Only track .cpp that is not tests
!cpp/
!cpp/**/
!cpp/**/*.cpp
cpp/**/*_test.cpp
cpp/**/test/
cpp/**/CMakeFiles

#Only track .zig that is not tests
!zig/
!zig/**/
!zig/**/*.zig
zig/**/test_*.zig
zig/**/main.zig
#Debugging example
!zig/difference-of-squares/.vscode/launch.json

#Only track .cs that is not tests
!csharp/
!csharp/**/
csharp/**/bin
csharp/**/obj
!csharp/**/*.cs
csharp/**/*Tests.cs
csharp/**/.exercism