# Ignore everything:
*

# Except for .gitignore and readme
!.gitignore
!README.md

#Only track rs-files in src
!rust/
!rust/**/
!rust/**/src/
!rust/**/src/*.rs
rust/**/.gitignore
rust/**/README.md


#Only track .fs that is not tests
!fsharp/
!fsharp/**/
!fsharp/**/*.fs
fsharp/**/*Tests.fs
fsharp/**/obj/
fsharp/**/README.md

