# Ignore everything:
*

# Except for .gitignore and readme
!.gitignore
!README.md

#Only track rs-files in src
!rust/
!rust/**/
!rust/**/src/
!rust/**/src/*.rs
rust/**/.gitignore
rust/**/README.md


#Only track .fs that is not tests
!fsharp/
!fsharp/**/
!fsharp/**/*.fs
fsharp/**/*Tests.fs
fsharp/**/obj/
fsharp/**/README.md

#Only track .cpp that is not tests
!cpp/
!cpp/**/
!cpp/**/*.cpp
cpp/**/*_test.cpp
cpp/**/test/
cpp/**/README.md
cpp/**/CMakeFiles

#Only track .zig that is not tests
!zig/
!zig/**/
!zig/**/*.zig
zig/**/*.md
zig/**/test_*.zig
#Debugging example
!zig/difference-of-squares/.vscode/launch.json
